.reg-bg {
  width: 811px;
  background-color: #FFE68B;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  border-radius: 14px;
  padding: 15px 15px;

}


.login_btn {
  padding: 15px 50px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.welcome {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.user {
  padding: 13px 31px;
  border-radius: 15px;
  border-width: inherit;
  margin-bottom: 20px;
  width: 583px;
}