.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 237px;
  box-sizing: border-box;
  width: 100%;
  flex-shrink: 0;
  background: #FFE68B;
  margin-bottom: 14px;
}